/* color scheme: (white)#FFFFFFF, (beige)#F0E4D8, (orange)#FEC195, (pink)#F1C7B9, (coral)#E08F71, (green)#BDC7AD */
/* fonts: title and/or headings = font-family: 'Shadows Into Light Two', cursive; paragraphs and/or headings = font-family: 'Quicksand', sans-serif; */

body {
    background-color: #f0e4d8;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #bdc7ad;
    text-align: center;
    padding: .5em;
    font-size: 1.5em;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom: 2px solid white;
    padding-top: 2em;
}

h1{
    margin: 0;
    font-family: 'Shadows Into Light Two', cursive;
    color: #1d3e2c;
}


/* ids */
#login-btn {
    text-align: center;
}

#login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -40%;
    margin-left: -38%;
    background-color: white;
    padding: 1em;
    box-shadow: 0px 0px 10px 5px #c4b09c;
}

#oops-signup {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 20%;
    margin-left: -32%;
    text-align: center;
}

#oops-signup a {
    color: #E08F71;
}






/* DESKTOP VIEW (OVER 1100PX SCREEN) */
@media (min-width: 1100px) {

    #login-form {
        position: fixed;
        top: 60%;
        left: 50%;
        margin-top: -10%;
        margin-left: -11%;
        background-color: white;
        padding: 2em;
    }

    header {
        background-color: #bdc7ad;
        text-align: center;
        padding: .5em;
        font-size: 1.5em;
        border-bottom: 2px solid white;
        padding-top: 2em;
    }

    #oops-signup {
        position: fixed;
        top: 60%;
        left: 69%;
        margin-top: 7%;
        text-align: center;
    }
}