/* color scheme: (white)#FFFFFFF, (beige)#F0E4D8, (orange)#FEC195, (pink)#F1C7B9, (coral)#E08F71, (green)#BDC7AD */
/* fonts: title and/or headings = font-family: 'Shadows Into Light Two', cursive; paragraphs and/or headings = font-family: 'Quicksand', sans-serif; */

body {
    background-color: #f0e4d8;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #bdc7ad;
    text-align: center;
    padding: .5em;
    font-size: 1.5em;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom: 2px solid white;
    padding-top: 2em;
}

h1{
    margin: 0;
    font-family: 'Shadows Into Light Two', cursive;
    color: #1d3e2c;
}


/* ids */
#login-btn {
    text-align: center;
}

#login-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#login-form {
    background-color: white;
    padding: 1em;
    margin: 4em;
    box-shadow: 0px 0px 10px 5px #c4b09c;
}

#oops-signup a {
    color: #E08F71;
}


/* classes */



/* DESKTOP VIEW (OVER 1100PX SCREEN) */
@media (min-width: 750px) {

    #login-form {
        background-color: white;
        padding: 2em;
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
    }

}






/* DESKTOP VIEW (OVER 1100PX SCREEN) */
@media (min-width: 1100px) {

    #login-form {
        background-color: white;
        padding: 2em;
        margin-left: 40%;
        margin-right: 40%;
        text-align: center;
    }

    header {
        background-color: #bdc7ad;
        text-align: center;
        padding: .5em;
        font-size: 1.5em;
        border-bottom: 2px solid white;
        padding-top: 2em;
    }
}