/* color scheme: (white)#FFFFFFF, (beige)#F0E4D8, (orange)#FEC195, (pink)#F1C7B9, (coral)#E08F71, (green)#BDC7AD */
/* fonts: title and/or headings = font-family: 'Shadows Into Light Two', cursive; paragraphs and/or headings = font-family: 'Quicksand', sans-serif; */

body {
    background-color: #f0e4d8;
    font-family: 'Quicksand', sans-serif;
}


h1{
    margin: 0;
    font-family: 'Shadows Into Light Two', cursive;
    color: #1d3e2c;
}



/* classes */
.center {
    text-align: center;
}

.header a {
    color: #ffffff;
}

.header {
    background-color: #bdc7ad;
    padding: .5em;
    font-size: 1.3em;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom: 2px solid white;
}

.right {
    text-align: right;
}



/* DESKTOP VIEW (OVER 1100PX SCREEN) */
@media (min-width:1100px) {

    /* CALENDAR.HTML CSS */

        /* ids */
    #app {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        /* color */
    }
    
    #container {
    width: 770px;
    }

    #calendar {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    #header {
        padding: 10px;
        /* color */
        /* font-size */
        display: flex;
        justify-content: space-between;
    }

    #weekdays {
        width: 100%;
        display: flex;
        /* color */
    }

    #weekdays div {
        width: 100px;
        padding: 10px;
    }

    #month-display {
        font-size: 3em;
    }

    #modal-back-drop {
        display: none;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgba(226, 226, 226, 0.8);
    }

    #new-event-modal, #delete-modal{
        display: none;
        z-index: 20;
        padding: 25px;
        background-color: #e8f7fa;
        box-shadow: 0px 0px 3px black;
        border-radius: 5px;
        width: 350px;
        top: 100px;
        left: calc(50% - 175px);
        position: absolute;
    }

    #delete-modal label {
        color: black;
    }

    #delete-modal p {
        color: rgb(93, 93, 93);
    }


        /* classes */
    .day {
        width: 100px;
        height: 100px;
        padding: 10px;
        cursor: pointer;
        box-sizing: border-box;
        margin: 5px;
        box-shadow: 0px 0px 3px #CBD4C2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #efefef;
    }
    
    .day + #current-day {
        background-color: #f7f7f7;
        border: 2px solid #ffffff;
        box-shadow:0px 0px 10px rgb(146, 102, 102);
    }

    .day + #current-day:hover {
        background-color: #F1C7B9;
        border: 2px solid #F1C7B9;
    }

    .day:hover {
        background-color: #F1C7B9;
    }

    .padding {
        cursor: default;
        background-color: #F0E4D8;
        box-shadow: none;
    }

    .event-title-input.error {
        border: 2px solid rgb(146, 102, 102);
    }

    .event {
        font-size: 10px;
        padding: 3px;
        background-color: #F1C7B9;
        color:rgb(87, 49, 49);
        border-radius: 5px;
        max-height: 55px;
        overflow: hidden;
    }
}