<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are You Free? - Sign Up</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="/static/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Sign Up!</h1>
        <p>Welcome to Are You Free? Calendar!</p>
    </header>
    <main>
        <p class="center">Please fill out the following information fields to create your very own calendar!</p>
        <div id="oops-login">
            <p>Oops! Already have a calendar? <a href="{% url 'login' %}">Login here!</a></p>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="signup-btn"><input type="submit" value="Sign Up!"></div>
        </form>
    </main>
</body>
</html>

